.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    border: 2px solid #C3CFD9;
    padding: 30px 50px;
    width: 350px;
    padding-top: 50px;
    align-items: center;
}

.login-input {
    margin: 10px 0 !important;
    width: 100%;
}

.login-button {
    margin: 20px 0;
}