.signup {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-header {
    margin-bottom: 15px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    border: 2px solid #C3CFD9;
    padding: 30px 70px;
    width: 550px;
    padding-top: 50px;
    align-items: center;
}

.signup-input {
    margin: 10px 0 !important;
    width: 100%;
}

.signup-form-row > .field:first-child {
    margin: 10px 0 !important;
    margin-right: 5px !important;
}

.signup-form-row > .field:nth-child(2) {
    margin: 10px 0 !important;
    margin-left: 5px !important;
}

.signup-button {
    margin: 20px 0 !important;
    width: fit-content;
}

.signup-form-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}