.navbar {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: end;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list > li {
    margin: 0 20px;
}

.nav-list > li:nth-child(3) {
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: #2f2f2f;
}

.nav-link-active {
    text-decoration: underline;
    color: #5829BB;
}