.navbar {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: end;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list > li {
    margin: 0 20px;
}

.nav-list > li:nth-child(2) {
    margin-right: 40px;
}